.shop-categories-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.shop-categories-title-box{
  position: absolute;
  margin-top: -60px;
  font-size: 30px;
  font-weight: 110;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.shop-categories-title-box:hover{
  opacity: 0.5;
}
.shop-categories-row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
.shop-categories-box {
  width: 100%;
  height: 350px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
  margin-top: 70px;
}

@media(max-width: 768px){
  .shop-categories-box{
    width: 45%;
  }
}
.shop-categories-bg-img:hover{
  background-color: white;
  opacity: 0.7;
}
.shop-categories-img{
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.shop-categories-link{
  display: none;
  position: absolute;
}
.shop-categories-bg-img:hover .shop-categories-link{
  display: block;
  border: 1px solid black;
  padding: 10px 60px;
  background-color: white;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: -0.5px;
}
.shop-categories-bg-img:hover .shop-categories-link:hover{
  background-color: black;
  color: white;
}
.shop-categories-btn {
  margin-top: -65px;
  display: flex;
  justify-content: center;
  margin-left: -4%;
}
.shop-categories-link{
  border: 1px solid black;
  padding: 10px 60px;
  background-color: white;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: -0.5px;
}
.shop-categories-brand-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}