.navbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  width: 40px;
  height: auto;
  cursor: pointer;
  margin-left: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-links, a {
  font-size: 18px;
  cursor: pointer;
  margin-left: 15px;
  color: black;
  text-decoration: none;
}

#bag {
  width: 30px;
  height: auto;
  margin-left: 15px;
  margin-right: 20px;
}