
.categories-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.categories-row { 
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.category-item-above1 { 
  width: 30%;
  height: 250px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 5s ease;
}
.category-item-above1:hover {
  background-size: 120%;
}

.category-item1{
  width: 46.2%;
  height: 380px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 5s ease;
 
}
.category-item1:hover{
  background-size: 120%;
}

.item-label {
  width: 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1.5px solid black;
  opacity: 0.7;
  padding: 8px 12px;
  position: absolute;
}
.item-label:hover{
  opacity: 0.9;
}

.item-name {
  font-size: 18px;
  font-weight: 500;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
  line-height: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.item-text {
  font-size: 16px;
  font-weight: 100;
  color: rgb(117, 117, 117);
  line-height: 10px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: -0.8px;
}